    global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon
        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private
        # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
	# An alternative list with additional directives can be obtained from
	#  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3
	tune.ssl.default-dh-param 2048

    defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

    # LDAPS
    frontend ldaps_service_front
        mode                  tcp
        log                   global
        bind                  :636 ssl crt /etc/ssl/keyadlb.rz.hs-heilbronn.de.pem
        description           LDAPS Service
        option                tcplog
        option                logasap
        option                socket-stats
        option                tcpka
        timeout client        600s
        default_backend       ldaps_service_back

    backend ldaps_service_back
        server                ldapS-1 dc01.hhn.hs-heilbronn.de:636 check fall 1 rise 1 inter 2s verify none check check-ssl ssl
        server                ldapS-2 dc02.hhn.hs-heilbronn.de:636 check fall 1 rise 1 inter 2s verify none check check-ssl ssl
        mode                  tcp
        balance               source
        timeout server        600s
        timeout connect       10s
        option                tcpka
        option                tcp-check
        tcp-check             connect port 636 ssl
        tcp-check             send-binary 300c0201            # LDAP bind request "<ROOT>" simple
        tcp-check             send-binary 01                  # message ID
        tcp-check             send-binary 6007                # protocol Op
        tcp-check             send-binary 0201                # bind request
        tcp-check             send-binary 03                  # LDAP v3
        tcp-check             send-binary 04008000            # name, simple authentication
        tcp-check             expect binary 0a0100            # bind response + result code: success
        tcp-check             send-binary 30050201034200      # unbind request